@import "config";

.filter {
    display: flex;
    max-width: $max-width;
    margin-top: 2*$gutter;
    margin: 0 auto;
  
&__buttons {
      display: flex;
      margin: auto;      
      }

    &__btn {
      border: none;
      border-radius: 1rem;
      background-color: $color-4;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      
      margin: $gutter;
      font-size: 1rem;
      font-weight: bold;   
    }
}