$max-width: 1200px;
$text-width: 800px;
$gutter: 20px;

$max-width: 1200px;
$gutter: 20px;

$color-1: #000;
$color-2: #999;
$color-3: #aaa;
$color-4: #ccc;
$color-5: #2d2;
$color-6: #1a1;
$color-7: #fcffd2;
$color-8: #cc9694;

$font-main: "Lora", serif;
$font-heading: "Roboto Mono", monospace;

// Leturstærðir
// 12 24 32 48

$transition: 300ms ease-in-out;

@mixin row() {
  display: flex;

  margin-right: -($gutter / 2);
  margin-left: -($gutter / 2);
}

@mixin columns($col: 1) {
  // margföldum með "1%" til að breyta gildi í prósentu gildi
  width: ($col / 12 * 100) * 1%;

  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
}

@mixin offset-left($cols: 0) {
  margin-left: ($cols/12 * 100) * 1%;
}
