@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  // font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}
.filter__button {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

/* fyrirlestrar*/

.lecture {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

.lecture__text{
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 1.3; 
    padding: 2px 0;
    width: 400px;
    margin: 20px auto;
  }

    
  
  .lecture__text p {
    margin-bottom: 20px;
    text-align: center;
  }
.lecture__video{
  margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.lecture__header {
  margin-bottom: $gutter;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 25%;
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;
    background-color: $color-2;
    opacity: 0.6;
    margin: 0 auto;
    
}
.lecture__header h1{
  text-align: center;
}
.lecture__header h2 {
  text-align: center;
}

.hidden {
  display: none;
}

@import "config";
@import "header";