@import "config";
@import "header";
@import "button";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  // font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

.filter__button {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

.lectures {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  @include row();
  margin: 0 auto;
}

.lectures__box {
  display: flex;
  flex-flow: column;
  min-width: 300px;
  margin: 10px;
  @include columns(3);
  background-color: $color-2;
}

.lectures__category {
  margin-top: 5px;
  text-transform: uppercase;
}

.lectures__title {
  font-size: 1.5em;
}

/* fyrirlesstur */

.lecture {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width;
  margin: auto;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

.lecture__text {
  display: inline-block;
  max-width: $text-width;
  padding: 2px 0;
  margin: 20px auto;
  line-height: 1.3;
  text-align: left;
  justify-content: left;
}

.lecture__text p { /* stylelint-disable-line */
  margin-bottom: 20px;
}

iframe { /* stylelint-disable-line */
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.lecture__video__div {
  position: relative;
  display: inline-block;
  max-width: $text-width;
  margin: auto;
  margin-top: 30px;
  align-content: center;
}

.lecture__video {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

.lecture__header {
  width: 100%;
  height: 150%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: 100%;
}

.lecture__header__div {
  padding: 10vh;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: 100%;
}

.protector {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  background-color: $color-2;
  opacity: 0.6;
}

.lecture__header h1 { /* stylelint-disable-line */
  text-align: center;
}

.lecture__header h2 { /* stylelint-disable-line */
  text-align: center;
}

.img__div {
  display: block;
  max-width: $text-width;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.lecture__quote {
  display: inline-block;
  width: $text-width;
  padding: 10px;
  margin: 20px auto;
  line-height: 1.3;
  text-align: left;
  background-color: $color-4;
  border: 1px solid $color-4;
  grid-column: 1/12;
  justify-content: left;
}

.lecture__heading {
  max-width: $text-width;
  padding-block-start: 20px;
  padding-block-end: 20px;
  margin: 20px auto;
  text-align: left;
}

.lecture__code {
  display: inline-block;
  max-width: $text-width;
  padding: 2px 0;
  margin: 20px auto;
  line-height: 1.3;
  text-align: left;
  justify-content: left;
}

.lecture__list__container {
  display: inline-block;
  max-width: $text-width;
  padding: 2px 0;
  margin: 20px auto;
  line-height: 1.3;
  text-align: left;
  justify-content: left;
}

.lecture__list__item {
  padding: 10px;
  list-style-position: outside;
  list-style-type: disc;
}

li.lecture__list { /* stylelint-disable-line */
  list-style-type: circle;

  .lectures {
    display: flex;
    width: 64%;
    margin-block-start: 10px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;

  }

  .lecture__box { /* stylelint-disable-line */
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .lectures:nth-child(2n) .lecture__box:first-child {
    order: 2;
  }

  @media (min-width: 1000px) {
    .lectures {
      flex-direction: row;
    }

    .lecture__box {
      width: 33%;
      height: 100px;
      margin-bottom: 100px;
      flex-grow: 1;
      flex-wrap: wrap;
      flex-direction: column;

    }
  }
}
